article.masonry-item.masonry-item-text
  div.card
    div.wrapper-pad
      div.textbox
        a(href="articles/" + art.title)
          h4=art.title
        p=art.day + " " + art.month + " " + art.year
        p=art.content
        a(href="articles/" + art.title) Read More
