article.masonry-item.masonry-item-contact
  div.card.pop
    div.wrapper-pad
      h4
        | Like what you see? Leave me a
        span.primary=" message"
        | !!
    div.wrapper-pad
      form(method="post", action="messages")
        input(type="text", placeholder="Preferred Name", name="name")
        input(type="email", placeholder="Email",  name="email")
        textarea(placeholder="Message!", name="message")
        button.button Submit
    div.wrapper-pad
      h5
        | Or,
        span.primary=" email "
        | me at
        a(href="mailto:meek.f80@gmail.com")=" meek.f80@gmail.com"
