footer.section-footer
  div.container
    h5 Looks like you've reached the end
    p This website handmade by me. Thanks for visiting!
    p &copy; 2018 - Mikolaj Figurski
div.wrapper.flex-center.dark-bg
  div.wrapper
    a.icon(href="https://www.linkedin.com/in/mikolaj-figurski-1257a7149/")
      i.fab.fa-linkedin
    a.icon(href="https://www.facebook.com/meeks.figs")
      i.fab.fa-facebook
    a.icon(href="https://github.com/mfigurski80")
      i.fab.fa-github
    a.icon(href="https://stackoverflow.com/users/9043642/mikolaj-figurski")
      i.fab.fa-stack-overflow
    a.icon(href="mailto:meek.f80@gmail.com")
      i.fas.fa-envelope
