header.section-header
  nav.container
    .wrapper
      a.button-nav(href="/")
        h5 HOME
      a.button-nav(href="/")
        h5 Portfolio
      a.button-nav(href="/")
        h5 About Me
      a.button-nav(href="/")
        h5 Project Updates
      a.button-nav(href="/")
        h5 Gallery
      a.button-nav(href="/")
        h5 Contact
