div.container
  div.layout-cols
    div.img-wrapper
      img(src="images/profile-large.jpg", height="140%")
    div.wrapper
      h5.primary-bg Hello
      hr
      h4="I'm "
        span.primary Mikolaj Figurski
      h5.small Full-Stack Web Developer and Data Science Enthusiast


      hr
      div.wrapper
        p Technologies I use regularly:
        i.fab.fa-java(title="Java")
        i.fab.fa-python(title="Python")
        i.fab.fa-js(title="JavaScript")
        i.fab.fa-node-js(title="NodeJS")
        i.fab.fa-react(title="ReactJS")
        i.fab.fa-git(title="GIT")
        i.fab.fa-html5(title="HTML 5")
        i.fab.fa-css3(title="CSS3")
        i.fab.fa-sass(title="SASS")
