doctype html
html
  head
    link(href="css/style.css", rel="stylesheet")
    title ADMIN
  body
    div.section.container
      h3 Add an Article!!
      form(id="add_form", action="/articles/", method="POST", ref='uploadForm', encType="multipart/form-data")
        p Title
        input(name="title", id="title_input")
        p Content
        textarea(name="content")
        p Type
        select(name="type")
          option(value="text") text
          option(value="post") post
          option(value="media") media
          option(value="contact") contact
        p Image?
        input(name="imageFile", type="file", accept="image/jpg, image/jpeg, image/png")
        button Submit
    include modules/footer.pug
    script(src="js/formCalls.js")
    script watchInput('add_form', 'title_input');
