doctype html
html
  head
    link(rel="shortcut icon", href="../images/watermarkyellow.png")
    link(href="../css/style.css", rel="stylesheet", type="text/css")
    title="Blog | " + article.title
  body
    div.section-article
      div.section-article-bg
        div.img-wrapper
          img(src="../images/" + article.image)
      div.wrapper-pad
        h1=article.title
        h5=article.day + " " + article.month + " " + article.year
        p !{article.content}
        button(onclick="DELETE()") Delete Article

  script(src="../js/formCalls.js")
