doctype html
html
  head
    link(rel="shortcut icon", href="images/watermarkyellow.png")
    link(href="css/style.css", rel="stylesheet", type="text/css")
    title Blog | Figurski
  body
    section.section-profile
      div.container-small
        h3=profile.name
        h5=profile.bio
    section.section-articles
      div.container
        div.masonry
          article.masonry-spacer
            include modules/articles.pug

    include modules/footer.pug
    script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
    script(src="js/masonry.js")
    script(src="js/articleLoader.js")
