doctype html
html
  head
    link(href="css/style.css", rel="stylesheet")
    title LOGIN
  body
    h1  Log in to view!
    form(method="post", onsubmit="hashInput('password', 'username')")
      p Username
      input(name="username", id="username")
      p Password
      input(name="password", id="password")
      button Submit
  script(src="js/formCalls.js")
