doctype html
html
  head
    link(href="css/style.css", rel="stylesheet")
    title Sign Up
  body
    h1 Make a New Account!
    form(method="post", onsubmit="hashInput('password', 'username')")
      p Username
      input(name="username", id="username")
      p Password
      input(name="password", id="password")
      p Name
      input(name="name")
      button Submit
  script(src="js/formCalls.js")
