
/* ******
* Modules
****** */
/* Text */
h1 {
  font-size: 90px;
  line-height: 120px;
}
h2 {
  font-size: 130px;
  line-height: 100px;
}
h3 {
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 5px;
}
h4 {
  font-size: 30px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
}
h5 {
  font-size: 22px;
  display: inline-block;
}
h6 {
  font-size: 21px;
  line-height: 22px;
  letter-spacing: 10px;
}
p {
  font-size: 14px;
  line-height: 25px;
}

/* Icons */
a.icon {
  display: block;
  float: left;
  transition: all .2s;
  text-align: center;
  width: 40px;
} a.icon:hover {
  background: var(--color-light);
  color: var(--color-dark);
}
i.fas, i.fab {
  font-size: 25px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 6px;
}

/* Alters, doesn't establish */
.invisible {
  opacity: 0;
}
.hidden {
  display: none;
}
.primary {
  color: var(--color-primary);
  font-size: 110%;
  line-height: 90%;
}
.secondary {
  color: var(--color-secondary);
  font-size: 110%;
  line-height: 90%;
}
.primary-bg {
  color: var(--color-darker);
  background: var(--color-primary);
  padding-left: 6px;
  padding-right: 6px;
}
.dark-bg {
  color: var(--color-light);
  background: var(--color-dark);
  padding: 6px;
}
.small {
  font-size: 70%;
}
.text-normal {
  font-weight: normal;
}

/* Buttons */
[class*="button"] {
  padding: 8px 10px;
  border: 2px solid transparent;
  display: inline-block;
  background: var(--color-light);
  color: var(--color-dark);
  font-family: inherit;
  text-decoration: none;
  transition: all .2s;
  cursor: pointer;
} [class*="button"]:hover, [class*="button"]:focus {
  background: var(--color-dark);
  color: var(--color-light);
}
.button-primary {
  background: var(--color-primary);
  border-color: transparent;
  padding: 0px 8px;
  margin-right: 6px;
} .button-primary:hover, .button-primary:focus {
  color: var(--color-primary);
}

/* Inputs */
form {
  font-family: inherit;
}
  input, textarea {
    /* font-family: monospace; */
    display: block;
    padding: 10px;
    width: 100%;
    border: none;
    background: var(--color-light);
    font-family: inherit;
    color: var(--color-dark);
    margin-top: 2px;
    margin-bottom: 3px;
    transition: all .2s;
  }
  textarea {
    resize: vertical;
    height: 130px;
  }
    input:focus, textarea:focus {
      background: var(--color-dark);
      color: var(--color-light);
    }
.img-wrapper { /*centers image within div*/
  overflow: hidden;
  height: 100%;
  width: 100%;
  float: left;
} .img-wrapper > img {
    min-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
