@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("masonry_style.css");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #FDD835;
  --color-primary-dark: #F9A825;
  --color-secondary: #f44336;
  --color-secondary-dark: #d32f2f;

  --color-light: #EEE;
  --color-dark: #333;
  --color-darker: #222;


  --breakpoint-mobile: 650px;
  --breakpoint-smallScrn: 1000px;
}
a {
  color: inherit;
} a:hover {
  text-decoration: none;
}
::selection {
  background: var(--color-primary);
  color: var(--color-dark);
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background: var(--color-darker);
  color: var(--color-light);
  overflow-x: hidden;
  position: absolute;
}
img {
  display: block;
}



/* ******
* Modules
****** */
/* Text */
h1 {
  font-size: 150px;
  line-height: 200px;
}
h2 {
  font-size: 130px;
  line-height: 100px;
}
h3 {
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 5px;
}
h4 {
  font-size: 30px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
}
h5 {
  font-size: 22px;
  display: inline-block;
}
h6 {
  font-size: 21px;
  line-height: 22px;
  letter-spacing: 10px;
}
p {
  font-size: 14px;
  line-height: 25px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  margin-left: 5px;
}
::-webkit-scrollbar-track {
    width: 6px;
    background: repeating-linear-gradient(90deg, transparent,
      transparent 5px,
      var(--color-primary) 5px,
      var(--color-primary) 6px);
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

/* Icons */
a.icon {
  display: block;
  float: left;
  transition: all .2s;
  text-align: center;
  width: 40px;
} a.icon:hover {
  background: var(--color-light);
  color: var(--color-dark);
}
i.fas, i.fab {
  font-size: 25px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 6px;
}

/* Alters, doesn't establish */
.invisible {
  opacity: 0;
}
.primary {
  color: var(--color-primary);
  font-size: 110%;
  line-height: 90%;
}
.secondary {
  color: var(--color-secondary);
  font-size: 110%;
  line-height: 90%;
}
.primary-bg {
  color: var(--color-dark);
  background: var(--color-primary);
  padding-left: 6px;
  padding-right: 6px;
}
.small {
  font-size: 70%;
}
.text-normal {
  font-weight: normal;
}

/* Buttons */
[class*="button"] {
  padding: 8px 10px;
  border: 2px solid transparent;
  display: inline-block;
  background: var(--color-light);
  color: var(--color-dark);
  font-family: inherit;
  text-decoration: none;
  transition: all .2s;
  cursor: pointer;
} [class*="button"]:hover, [class*="button"]:focus {
  background: var(--color-dark);
  color: var(--color-light);
}
.button-primary {
  background: var(--color-primary);
  border-color: transparent;
  padding: 0px 8px;
  margin-right: 6px;
} .button-primary:hover, .button-primary:focus {
  color: var(--color-primary);
}

/* Inputs */
form {
  font-family: inherit;
}
  input, textarea {
    /* font-family: monospace; */
    display: block;
    padding: 10px;
    width: 100%;
    border: none;
    background: var(--color-light);
    font-family: inherit;
    color: var(--color-dark);
    margin-top: 2px;
    margin-bottom: 3px;
    transition: all .2s;
  }
  textarea {
    resize: vertical;
    height: 130px;
  }
    input:focus, textarea:focus {
      background: var(--color-dark);
      color: var(--color-light);
    }





/* *****
* Layouts
***** */
[class*="container"] {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
[class*="wrapper-pad"] {
  padding: 15px;
  height: 100%;
  overflow: hidden;
}
  .wrapper-pad-side {
    padding: 0px 15px;
  }
.flex-center {
  display: flex;
}
  .flex-center > * {
    margin: auto;
  }
[class*="flex-distribute"] {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.flex-distribute-horizontally {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.wrapper {
  /* display: inline-block; */
}
.img-wrapper { /*centers image within itself*/
  overflow: hidden;
  height: 100%;
  width: 100%;
  float: left;
} .img-wrapper > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
hr {
  border: none;
  height: 20px;
}
[class*="layout"] {
  display: grid;
}
.layout-cols {
  grid-template-columns: 400px 1fr;
  grid-gap: 30px;
  grid-auto-rows: 400px;
}
@media only screen and (max-width: 900px) {
  .layout-cols {
    grid-template-columns: calc(100vw - 40px - 6px); /*-6 for scrollbar*/
    grid-auto-rows: 400px 450px;
  }
}




/* *******
* Sections
******* */
[class*="section"] {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-darker);
}

.section-profile {
  background: var(--color-darker);
  overflow: hidden;
  /* height: 500px; */
}
  .section-profile i.fab, .section-profile i.fas {
    margin-left: 0;
    margin-right: 20px;
  }
.section-articles {
  /* Utilizes masonry -- card styles defined in masonry_style.css */
}
  .section-articles .container { /*each tile has 12px -- need this to equalize to actual 20px*/
    padding-left: 8px;
    padding-right: 8px;
  }
.section-footer {
  background: var(--color-darker);
  text-align: center;
}
