@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");


@import url("modules.css");
@import url("layouts.css");
@import url("masonry_style.css");
@import url("sections.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #FDD835;
  --color-primary-dark: #F9A825;
  --color-secondary: #f44336;
  --color-secondary-dark: #d32f2f;

  --color-light: #EEE;
  --color-dark: #333;
  --color-darker: #222;


  --breakpoint-mobile: 650px;
  --breakpoint-smallScrn: 1000px;
}
a {
  color: inherit;
} a:hover {
  text-decoration: none;
}
::selection {
  background: var(--color-primary);
  color: var(--color-dark);
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background: var(--color-darker);
  color: var(--color-light);
  overflow-x: hidden;
  position: absolute;
}
img {
  display: block;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  margin-left: 5px;
}
::-webkit-scrollbar-track {
    width: 6px;
    background: repeating-linear-gradient(90deg, transparent,
      transparent 5px,
      var(--color-primary) 5px,
      var(--color-primary) 6px);
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}
