@import url('https://fonts.googleapis.com/css?family=Poppins');
/* @import url("masonry_style.css"); */
@import url("new_masonry_style.css");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #FDD835;
  --color-primary-dark: #F9A825;
  --color-secondary: #f44336;
  --color-secondary-dark: #d32f2f;

  --color-light: #EEE;
  --color-dark: #333;
  --color-darker: #222;


  --breakpoint-mobile: 650px;
  --breakpoint-smallScrn: 1000px;
}
a {
  color: inherit;
} a:hover {
  text-decoration: none;
}
::selection {
  background: var(--color-primary);
  color: var(--color-dark);
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background: var(--color-darker);
  color: var(--color-light);
  overflow-x: hidden;
}



/* ******
* Modules
****** */
/* Text */
h2 {
  font-size: 130px;
  line-height: 100px;
}
h3 {
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 5px;
}
h4 {
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
h5 {
  font-size: 25px;
}
h6 {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 9px;
}
p {
  font-size: 15px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}
::-webkit-scrollbar-track {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

/* Icons */
a.icon {
  display: block;
  float: left;
  transition: all .2s;
  text-align: center;
  width: 40px;
} a.icon:hover {
  background: var(--color-light);
  color: var(--color-dark);
}
i.fas, i.fab {
  font-size: 25px;
  line-height: 40px;
}

/* Change color/opacity */
.invisible {
  opacity: 0;
}
.primary {
  color: var(--color-primary);
  font-size: 110%;
  line-height: 90%;
}
.secondary {
  color: var(--color-secondary);
  font-size: 110%;
  line-height: 90%;
}

/* Buttons */
[class*="button"] {
  padding: 10px 15px;
  border: none;
  display: inline-block;
  background: var(--color-light);
  color: var(--color-dark);
  font-family: inherit;
  font-size: 15px;
  text-decoration: none;
  transition: all .2s;
} [class*="button"]:hover {
  background: var(--color-dark);
  color: var(--color-light);
}
.button-nav {
  padding: 40px 20px;
  background: transparent;
  color: var(--color-light);
} .button-nav:hover {
  background: var(--color-dark);
}
  .button-nav h5 {
    font-size: 20px;
    line-height: 20px;
  }
/* Inputs */
form {
  font-family: inherit;
}
  input, textarea {
    /* font-family: monospace; */
    display: block;
    padding: 10px;
    width: 100%;
    border: none;
    background: var(--color-light);
    font-family: inherit;
    color: var(--color-dark);
    margin-top: 2px;
    margin-bottom: 3px;
  }
  textarea {
    resize: vertical;
    height: 130px;
  }





/* *****
* Layouts
***** */
.container {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper-pad {
  padding: 20px 20px;
  height: 100%;
  overflow: hidden;
}
.flex-center {
  display: flex;
}
  .flex-center > * {
    margin: auto;
  }
.flex-distribute {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.text-center {
  text-align: center;
}




/* *******
* Sections
******* */
[class*="section"] {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-darker);
}
.section-header {
  width: 100%;
  padding: 0;
  background: var(--color-darker);
  overflow: hidden;
  margin-bottom: -30px;
  padding-top: 10px;
}
@media only screen and (min-width: 1600px){
  .section-header {
    /* background: red; */
    position: fixed;
    height: 100%;
    width: 100px;
    left: 10px;
    top: 0;
    margin-bottom: 0;
  }
    .section-header nav.container {
      padding: 0;
      height: 100%;
    }
      .section-header nav.container .wrapper {
        height: 100%;
        max-height: 600px;
        display: flex;
        flex-direction: column;
      }
        .section-header .button-nav {
          flex: 1;
          width: 100%;
          padding: 20px 5px;
          display: flex;
        }
          .section-header .button-nav h5 {
            margin: auto;
            text-align: center;
          }
}


.section-articles {
  /* padding-top: 0; */
  /* Utilizes masonry -- all defined in masonry_style.css */
}
  .masonry {
    transition: opacity .2s;
  }

.section-footer {
  background: var(--color-darker);
  text-align: center;
  margin-top: 100px;
}
